/*
Colors:

Text: 1A1A1A
Green: #00B172
White: #FFF

*/
body {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: light;
    font-size: 18px;
    font: #1A1A1A;
    margin: 0;
    
}

.main {
    width:max-content;
}

h1 {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font: #1A1A1A;
    font-size: 60px;
    margin: 16px 0px;
    text-decoration: underline;
    text-decoration-color: #00B172;
}

h2 {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: #1A1A1A;
    font-size: 42px;
    font-weight: bold;
    margin: 8px 0px;
}

h3 {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 32px;
    font-weight: bold;
    margin: 8px 0px;
}

p {
    margin: 8px;
}

navbar {
    position: fixed;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    height: 60px;
    width: 100%;
    background-color: #f4f4f4;
    font-size: 24px;
    align-items: center;
    margin: 0px;
    padding: 16px 24px 16px 20px;
}


navbar ul {
    list-style-type:none;
    display: flex;
    flex-direction: row;
    align-content: flex-end;
    justify-content: space-around;
    margin-right: 40px;
}

.nav-item {
    padding-right: 32px;
}

#logo {
    height:50px;
}

.hero {
    background-image: url(../images/landing.jpg);
    background-size: contain;
    width: 100%;
    height: 600px;
    display: flex;
    justify-content: center;
    padding-top: 150px;
}

#hero-text {
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-wrap: wrap;
    padding-top: 70px;
}

.big-title {
    padding: 0;
    color: white;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font: #1A1A1A;
    font-size: 60px;
    margin: 24px 0px;
}

.subtitles {
    display: flex;
    flex-direction: column;
    align-items: center;
    color: white;
    font-size: 32px;
    font-weight: lighter;
    margin: 0px 0px;

}

.section {
    display:flex;
    align-items: center;
    flex-direction: column;
    margin-top: 100px;
    margin-bottom: 100px;
}

.feature-boxes {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: space-between;
}

.feature-title {
    color:#00B172;
}

.box {
    display: flex;
    flex-direction: column;
    align-items: center;
    align-content:space-around;
    width: 30%;
    padding: 60px 8px;
    border-width: 3px;
    border-color: gray;
    border-radius: 4px;
}

.icon {
    width: 80px;
}

.kanye-section {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    background-color: #00B172;
    color: white;
    align-items: center;
    padding-left: 60px;
    padding-right: 60px;
    padding-bottom: 60px;
}

#kanye-title {
    color: white;
    text-decoration: underline;

}

.kanye-text{
    display: flex;
    flex-direction: column;
    align-items: right;
    padding-top:24px;
    color: white;

}

.kanye-minisection {
    display: flex;
    flex-direction: column;
    align-items: right;
    padding-top: 8px;
    color: white;
}

#screen {
    width: 20%;
    padding-top: 60px;
}

